*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}
  
body{
  background-color:rgb(135, 76, 4);
}

.logo{
  margin: 20px auto;
  display: block;
  width: 300px;
  border-radius: 8px;
  /* position: sticky;
  top: 10px; */

}
  
.conteiner{
  background-color:white;
  width: 375px;
  border-radius: 18px;
  margin: 24px auto;
  padding: 44px 23px 23px;
}

label{
  color: rgb(106, 103, 103);
  font-weight: 500;
  font-size: 18px;
}

select, input {
  background:#FFFFFF;
  border: 2px solid green;
  border-radius: 6px;
  height: 50px;
  width: 100%;
  margin-bottom: 24px;
  appearance: none; /* desativar seta do select */
  font-size: 18px;
  padding-left: 12px;
  cursor: pointer;
}

.btn{
    background-color: rgb(14, 14, 241);
    color: white;
    margin: 0 auto;
    display: block;
    width: 100%;
    border-radius: 6px;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700px;
}
    
.btn:hover{
  opacity: 0.8;
}

.btn:active{
  opacity: 0.5;
}

.caixa{
  border: solid 3px rgb(125, 3, 127);
  border-radius: 20px;
  margin-top: 24px;
  display: flex; 
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 16px;
}

.caixa_moeda{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.valor-moeda{
  color: dimgray;
  font-size: 24px;
  font-weight: 700px;
}




